.xanh{
    height:20px;
    width:20px;
    float:left;
    border:1px solid gray;
    margin-left:5px;
    margin-bottom:5px;
    background: blue;
}
.do{
    height:20px;
    width:20px;
    float:left;
    border:1px solid gray;
    margin-left:5px;
    margin-bottom:5px;
    background: red;
}